* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 .menu-container {
   color: #fff;
   background-color: #5995DA;  /* Blue */
   padding: 20px 0;
   display: flex;
   justify-content: center;
 }
 
 .menu {
   border: 1px solid #fff;
   width: 900px;
   display: flex;
   justify-content: space-between;
 }
 
 .navigator {
    display: flex;
    justify-content: flex-end;
 }

 .projects {
    margin-left: auto;
 }

 .passions {
    margin-left: 20px;
 }

 .header-container {
   color: #5995DA;
   background-color: #D6E9FE;
   display: flex;
   justify-content: center;
 }
 
 .header {
   width: 900px;
   height: 300px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   flex: 1;
 }

 .footer {
   display: flex;
   justify-content: space-between;
 }
 
 .footer-item {
   border: 1px solid #fff;
   background-color: #D6E9FE;
   height: 200px;
   flex: 1;
 } 

 .footer-one,
 .footer-three {
   background-color: #5995DA;
   flex: initial;
   width: 300px;
 }
 
h1, p {
   background-color: #DDE0E3;
   padding: 10px;
 }

 h2, ol {
    padding: 5px;
 }
 
 em, strong {
   background-color: #B2D6FF;
 }

 hr {
   height: 5px;
   background-color: rgb(54, 50, 50);
 }

.contact {
   text-align: center;
}


.webLinkButton:link,
.webLinkButton:visited {
   display: block;             
   text-decoration: none;      
 
   color: #FFF;             
   background-color: #3c6ba1;
   font-weight: bold;
   padding: 20px;
   text-align: center;
   border: 2px solid #5D6063;
   border-radius: 5px;
 
   width: 200px;
   margin: 20px auto;
 }

.webLinkButton:hover,
.webLinkButton:visited:hover {
   color: #FFF;
   background-color: #5081b9;
}

.webLinkButton:active,
.webLinkButton:visited:active {
  color: #FFF;
  background-color: #5995DA;
}

.github:link,
.github:visited {
   background-color: rgb(36, 35, 35);
}

.github:hover,
.github:visited:hover {
   background-color: rgb(47, 48, 48);
}

@media only screen and (max-width: 400px) {
   body{
      background-color:darksalmon;
   }
}